<div ng-controller="AboutController" class="container-fluid" id="about">
    <div class="container-fluid bg-1 text-center">
        <h3 class="margin">Who Am I?</h3>
        <figure>
            <figcaption>Nathan Ostrander</figcaption>
            <img src="/img/NathanHead%20copy.png" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="250" height="250">
        </figure>
        <h1 class="aboutMeBackground">About Me</h1>
        <p class="paragraph">
            Like many I got to a point where I was in search of a new challenge when I came across Nashville Software School and learned what they were doing in this great town. I had very little experience in the field but the more I researched the more I wanted to know. To be part of a field where a single idea can reach millions while constantly learning new things was very appealing to me. So there it began a 12 month intensive bootcamp immersed in the core concepts of web development that proved to be a tough challenge. But thanks to some wise advice (Always Be Coding) I began to enjoy the learning process again. I look forward to utilizing the skills developed at NSS with an employer sometime soon and will be continuing this never ending journey of learning and some playing with these incredible tools.
        </p>
    </div>
</div>
