<div ng-controller="ContactController" class="container-fluid">
    <section>
        <div class="row">
            <h1>See My Work and Connect</h1>
            <div id="contact">
                <a href="mailto:nathanostrander5@gmail.com?Subject=Hello%20Nathan" target="_top"><i class="fa fa-envelope-o fa-3x sr-contact"></i><span class="network-name">nathanostrander5@gmail.com</span></i></a>
                <a href="https://github.com/ostrander-nathan" target="_blank"><i class="fa fa-github fa-3x sr-contact"></i>
                <span class="network-name">Github</span></a>
                <a href="https://www.linkedin.com/in/nathan-ostrander-6b360948/" target="_blank"><i class="fa fa-linkedin-square fa-3x sr-contact"></i><span class="network-name">LinkedIn</span></a>
            </div>
        </div>
</div>
</section>
<div class="container">
    <div class="row" id="techBackground">
        <div class="col-lg-4 text-center" id="icons">
            <div class="icon-holder">
                <i class="fa fa-4x fa-laptop text-primary sr-icons">
</i>
                <h3>Languages/Libraries</h3>
                <ul id="techList">
                    <li>AngularJs, JavaScript, HTML5, CSS3, jQuery, C#, SQL, ASP.NET, Angular, MVC, Bootstrap, Materialize, Moq, Entity, Dapper</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 text-center" id="icons">
            <div class="icon-holder">
                <i class="fa fa-4x fa-code-fork text-primary sr-icons"></i>
                <h3>Version Control</h3>
                <p>Git / Github</p>
            </div>
        </div>
        <div class="col-lg-4 text-center" id="icons">
            <div class="icon-holder">
                <i class="fa fa-4x fa-code text-primary sr-icons"></i>
                <h3>Tools</h3>
                <p>Visual Studio, VScode, Sublime, VM for partitioning in Mac and Windows environments</p>
            </div>
        </div>
    </div>
</div>
</div>
