<div ng-controller="ContactController" class="container-fluid" id="contact">
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="about_our_company" style="margin-bottom: 20px;">
                    <h1 style="color:#fff;">Send Me a Message</h1>
                    <div class="titleline-icon"></div>
                    <a href="mailto:nathanostrander5@gmail.com?Subject=Hello%20Nathan" target="_top">
                        <div style="color:#fff;">
                            <strong><i class="fa fa-envelope"></i>  Email Address</strong>
                            <br> nathanostrander5@gmail.com
                        </div>
                    </a>
                    <h1 style="color:#fff;">See My Work and Connect</h1>
                    <div class="list-inline banner-social-buttons">
                        <a href="https://github.com/ostrander-nathan" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-github"> <span class="network-name">Github</span></i></a>
                        <a href="https://www.linkedin.com/in/nathan-ostrander-6b360948/" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-linkedin-square"> <span class="network-name">LinkedIn</span></i></a>
                        < </div>
                    </div>
                </div>
            </div>
    </section>
    </div>
