<nav ng-controller="NavController" class="navbar navbar-default navbar-fixed-top affix-top">
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a ng-click="goToHome()" style="cursor:pointer">Home</a></li>
            <li><a ng-click="goToAbout()" style="cursor:pointer">About</a></li>
            <li><a ng-click="goToContact()" style="cursor:pointer">Contact</a></li>
            <li><a ng-click="goToPortfolio()" style="cursor:pointer">Portfolio</a></li>
        </ul>
    </div>
    </div>
