<div ng-controller="PortfolioController">
    <div class="containerPortfolio">
        <h1></h1>
        <h1>EyeFly Aerial 
        
        </h1>
        <div class="imageHolder">
            <a href="/img/FrontPageScreenShot.png">
                <figure>
                    <img src="/img/FrontPageScreenShot.png" alt="">
                    <figcaption>
                        Aerial drone tracking app that allows users to save and review the locations that they have been while flying.
                    </figcaption>
                </figure>
            </a>
            <a href="/img/Card%20Display%20Screen%20Shot%20.png">
                <figure>
                    <img src="/img/Card%20Display%20Screen%20Shot%20.png" alt="">
                    <figcaption>
                        Built using Angular JS, Firebase, Materialize and the Google Maps API.
                    </figcaption>
                </figure>
            </a>
            <a href="/img/Add%20Review%20Screen%20Shot%20.png">
                <figure>
                    <img src="/img/Add%20Review%20Screen%20Shot%20.png" alt="">
                    <figcaption>
                        Add a marker using Google Maps API
                    </figcaption>
                </figure>
            </a>
            <a href="https://capstone2016-1480352526300.firebaseapp.com/#/auth"><h1>Deployed Here</h1></a>
            <!-- <a href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg04.jpg">
    <figure>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg04.jpg" alt="">
        <figcaption>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </figcaption>
    </figure>
</a>
<a href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg05.jpg">
    <figure>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg05.jpg" alt="">
        <figcaption>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, ut labore et dolore magna aliqua
        </figcaption>
    </figure>
</a>
<a href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg06.jpg">
    <figure>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg06.jpg" alt="">
        <figcaption>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
        </figcaption>
    </figure>
</a>
<a href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg07.jpg">
    <figure>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg07.jpg" alt="">
        <figcaption>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, ut labore et dolore magna aliqua
        </figcaption>
    </figure>
</a>
<a href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg08.jpg">
    <figure>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg08.jpg" alt="">
        <figcaption>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </figcaption>
    </figure>
</a>
 -->
        </div>
        <p class="p">Copyright Nathan Ostrander</p>
    </div>
</div>
