<div ng-controller="PortfolioController">
    <div class="containerPortfolio">
        <section class="no-padding" id="portfolioHolder">
            <div class="container-fluid">
                <div class="col-lg-6 col-sm-8" id="portImg">
                    <img src="/img/FrontPageScreenShot.png" class="img-responsive">
                    <div class="portfolio-box-caption">
                        <div class="appTitle">
                            EyeFly Aerial
                        </div>
                        <div class="appDescrip">
                            I built this using AngularJS, Materialize, and Firebase along with Google Maps API. This app allows aerial drone enthusiast to track and review there favorite flying destinations.
                        </div>
                        <a href="https://capstone2016-1480352526300.firebaseapp.com/#/auth" target="_blank"><h1>Deployed Here</h1></a>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-8" id="portImg">
                    <img src="/img/NNN.png" class="img-responsive" alt="">
                    <div class="appTitle">
                        Nashvilles Next Neighborhood
                    </div>
                    <div class="appDescrip">
                        I built this using AngularJS, Bootstrap and C#. This app allows users to keep up with what building permits are being issued in there area. This is done using Data.Nashville.gov's API and integrating Google Maps API while saving all locations to a WebAPI.
                    </div>
                    <a href="https://github.com/ostrander-nathan/Capstone-Backend-2017" target="_blank"><h1>Code Here</h1></a>
                </div>
            </div>
        </section>
    </div>
</div>
